@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,700&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&family=Varela&display=swap');
/*
{
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Varela', sans-serif;
}
*/

:root {
    --main-color: black;
    --reverse-color: rgb(255, 255, 255);
    --accent-color: #f55d4a;
    --highlight-color: #556cd5;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 960px;
    margin: auto;
}

/*Header*/

h1 > span {
    color: var(--accent-color);
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: transparent;
    border: none;
    justify-content: space-around;
} 

.card-body {
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    opacity: 0.5; 
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    /*padding: 16px 50px;*/
    color: var(--reverse-color);
} 

.card-body p {
    color: var(--reverse-color);
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.card-body p:first-child {
    color: var(--accent-color);
    font-size: 3.5rem;
}

.logo {
    color: var(--main-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
}

.selected {
    font-weight: bold;
}

.burger-icon {
    font-size: 3rem;
}

#burger-checkbox {
    display: none;
}

body > header {
    background-image: url(../img/bg/banner.jpeg);
    background-size: cover;
    filter: alpha(opacity=0.8) black;
}

header .menu {
    display: none;
}

header input:checked ~ .menu {
    display: flex;
}

header .menu {
    flex-direction: column;
}

header .logo a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--main-color);
    padding: 3px;
}

header .menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    padding: 3px;
}

header .menu a:hover {
    font-weight: bold;
}

/**/
img {
    display: block;
    width: 100%;
}

@media (min-width: 610px) {
    header nav {
        display: flex;
    }

    .burger-icon {
        display: none;
    }

    header .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }
}

header .banner {
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header .banner h1 {
    color: var(--reverse-color);
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-style: normal;
}

.product-card {
    border: 1px solid var(--main-color);
    margin: 5px;
    padding: 5px;
}

.product-card .buttons {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 660px) {
    .product-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 800px) {
    .product-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 960px) {
    .product-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

footer form label {
    display: block;
}

/* Controls */

.navbutton {
    margin: 0 auto;
    border-width: 1px;
    border-radius: 25px;
    border-style: solid;
    padding: 16px 50px;

    letter-spacing: 0;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bold;
    font-family: Montserrat,sans-serif;
    text-decoration: none;
}

.cold-btn-style {
    border-color: var(--highlight-color);
    background-color: var(--reverse-color);
    color: var(--highlight-color);
}

.cold-btn-style:hover {
    border-color: var(--highlight-color);
    background-color: var(--highlight-color);
    color: var(--reverse-color);
}

.hot-btn-style {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    color: var(--reverse-color);
}

.hot-btn-style:hover {
    border-color: var(--accent-color);
    background-color: var(--reverse-color);
    color: var(--accent-color);
}

.navbutton:hover {
    cursor: pointer;
}

button {
    padding: 0.35em 1.2em;
    border: 0.1em solid var(--reverse-color);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.5em;
    color: var(--main-color);
    text-align: center;
    transition: color 0.7s;
    background-color: var(--reverse-color);
}

.button:hover {
    color: var(--main-color);
    background-color: var(--reverse-color);
    cursor: pointer;
}

.card-button {
    border-color: var(--main-color);
    color: var(--main-color);
}

.card-button:hover {
    background-color: var(--main-color);
    color: var(--reverse-color);
}